{% extends "base.html" %}

{% block title %}Historia Clínica{% endblock %}

{% block content %}
<div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
        {{ historia_clinica.nombre }} {{ historia_clinica.apellido }}
        <div>
            <a id="newEstudio" href="#" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa fa-plus"></i></a>
            <a href="{% url 'descargar_historia_clinica' historia_clinica.id %}" class="btn btn-sm btn-success"><i class="fa fa-download"></i></a>
        </div>
    </div>
    <div class="card-body">
        <div class="row mb-4">
            <div class="col-md-6">
                <div class="card h-100">
                    <div class="card-header">
                        Datos del Paciente
                    </div>
                    <div class="card-body">
                        <p><strong>Tipo Doc.:</strong> {{ historia_clinica.tipo_doc }}</p>
                        <p><strong>Nombre:</strong> {{ historia_clinica.nombre }}</p>
                        <p><strong>O. Social:</strong> {{ historia_clinica.o_social }}</p>
                        <p><strong>Fec. Nac.:</strong> {{ historia_clinica.fecha_nac }}</p>
                        <p><strong>N° Doc.:</strong> {{ historia_clinica.n_doc }}</p>
                        <p><strong>Apellido:</strong> {{ historia_clinica.apellido }}</p>
                        <p><strong>N° Afiliado:</strong> {{ historia_clinica.n_afiliado }}</p>
                        <p><strong>Celular:</strong> {{ historia_clinica.celular }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card h-100">
                    <div class="card-header">
                        Diagnósticos
                    </div>
                    <div class="card-body">
                        <form id="formDiagnostico" action="{% url 'editar_diagnostico' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="idHC" value="{{ historia_clinica.id }}">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="enfermedades[]" value="1" id="enfermedad1">
                                        <label class="form-check-label" for="enfermedad1">Hipertensión Arterial</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="enfermedades[]" value="2" id="enfermedad2">
                                        <label class="form-check-label" for="enfermedad2">Diabetes tipo 1</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="enfermedades[]" value="4" id="enfermedad4">
                                        <label class="form-check-label" for="enfermedad4">Coronariopatía</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="enfermedades[]" value="3" id="enfermedad3">
                                        <label class="form-check-label" for="enfermedad3">Diabetes tipo 2</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="enfermedades[]" value="5" id="enfermedad5">
                                        <label class="form-check-label" for="enfermedad5">Arritmia</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="enfermedades[]" value="6" id="enfermedad6">
                                        <label class="form-check-label" for="enfermedad6">Valvulopatía</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="enfermedades[]" value="7" id="enfermedad7">
                                        <label class="form-check-label" for="enfermedad7">Dislipemia</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="enfermedades[]" value="8" id="enfermedad8">
                                        <label class="form-check-label" for="enfermedad8">Insuficiencia renal</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="enfermedades[]" value="9" id="enfermedad9">
                                        <label class="form-check-label" for="enfermedad9">Obesidad</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="enfermedades[]" value="10" id="enfermedad10">
                                        <label class="form-check-label" for="enfermedad10">Sobrepeso</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="enfermedades[]" value="11" id="enfermedad11">
                                        <label class="form-check-label" for="enfermedad11">Sedentarismo</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="enfermedades[]" value="12" id="enfermedad12">
                                        <label class="form-check-label" for="enfermedad12">Enf. Vasc. Periférica</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="enfermedades[]" value="13" id="enfermedad13">
                                        <label class="form-check-label" for="enfermedad13">CRM</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="enfermedades[]" value="14" id="enfermedad14">
                                        <label class="form-check-label" for="enfermedad14">Tabaquismo</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="enfermedades[]" value="15" id="enfermedad15">
                                        <label class="form-check-label" for="enfermedad15">Angioplastia</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="enfermedades[]" value="16" id="enfermedad16">
                                        <label class="form-check-label" for="enfermedad16">ACV</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="enfermedades[]" value="18" id="enfermedad18">
                                        <label class="form-check-label" for="enfermedad18">Antecedente familiar</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="enfermedades[]" value="17" id="enfermedad17">
                                        <label class="form-check-label" for="enfermedad17">AIT</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="enfermedades[]" value="19" id="enfermedad19">
                                        <label class="form-check-label" for="enfermedad19">Alcoholismo</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="enfermedades[]" value="20" id="enfermedad20">
                                        <label class="form-check-label" for="enfermedad20">Deportista</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="enfermedades[]" value="21" id="enfermedad21">
                                        <label class="form-check-label" for="enfermedad21">Enf. Congénita</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="enfermedades[]" value="22" id="enfermedad22">
                                        <label class="form-check-label" for="enfermedad22">Caso de presentaci</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="enfermedades[]" value="23" id="enfermedad23">
                                        <label class="form-check-label" for="enfermedad23">Mascapasos</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="enfermedades[]" value="24" id="enfermedad24">
                                        <label class="form-check-label" for="enfermedad24">Stress</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="enfermedades[]" value="25" id="enfermedad25">
                                        <label class="form-check-label" for="enfermedad25">Insuf. Cardíaca</label>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary mt-2">Guardar Diagnóstico</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <h5>Medicamentos del Paciente</h5>
            <button class="btn btn-primary" onclick="window.location='{% url 'listar_indicaciones' historia_clinica.id %}'">Indicaciones</button>
        </div>
        <div class="mb-3">
            <h5>Solicitudes de Prácticas</h5>
            <button class="btn btn-primary" onclick="window.location='{% url 'listar_solicitudes' historia_clinica.id %}'">Solicitudes</button>
        </div>
        <div class="mb-3">
            <h5>Signos Vitales</h5>
            <form action="{% url 'nuevo_signo_vital' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="idHC" value="{{ historia_clinica.id }}">
                <div class="mb-2">
                    <label for="peso" class="form-label">Peso</label>
                    <input type="text" class="form-control" id="peso" name="peso" value="{{ signos_vitales.peso }}">
                </div>
                <div class="mb-2">
                    <label for="colesterol" class="form-label">Colesterol</label>
                    <input type="text" class="form-control" id="colesterol" name="colesterol" value="{{ signos_vitales.colesterol }}">
                </div>
                <div class="mb-2">
                    <label for="glucemia" class="form-label">Glucemia</label>
                    <input type="text" class="form-control" id="glucemia" name="glucemia" value="{{ signos_vitales.glucemia }}">
                </div>
                <div class="mb-2">
                    <label for="presionSistolica" class="form-label">PAS</label>
                    <input type="text" class="form-control" id="presionSistolica" name="presionSistolica" value="{{ signos_vitales.presionSistolica }}">
                </div>
                <div class="mb-2">
                    <label for="presionDiastolica" class="form-label">PAD</label>
                    <input type="text" class="form-control" id="presionDiastolica" name="presionDiastolica" value="{{ signos_vitales.presionDiastolica }}">
                </div>
                <button type="submit" class="btn btn-primary mt-2">Guardar Signos Vitales</button>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <h5 class="modal-title" id="myModalLabel">Tipo de Estudio</h5>
            </div>
            <div class="modal-body">
                <ul class="list-unstyled">
                    {% for estudio in estudios %}
                        <li><a href="{{ estudio.url }}">{{ estudio.nombre }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
